rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /teachers/{document=**} {
      allow read: if true;  // Разрешает всем читать данные
      allow write: if true;  // Разрешает всем писать данные
    }
  }
}
