/* SelectLanguage.module.css */

.searchContainer {
    width: 221px;
    height: 48px;

}

.labelSelect {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(138, 138, 137, 1);

}

.selectControl {
    margin-top: 8px;
}