.heroContainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 24px;
}

.title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 32px;
}

.spanText {
    background-color: rgba(251, 233, 186, 1);
    border-radius: 8px;
    font-style: italic;
    font-weight: 400;
}

.textWrapper {
    width: 720px;
    padding-top: 98px;
    padding-bottom: 98px;
    margin-right: 108px;
    margin-left: 64px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 64px;
}

.borderContainer {
    display: flex;
    width: 1312px;
    height: 116px;
    border: 1.5px dashed rgba(244, 197, 80, 1);
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
}

.infoSum {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    margin-right: 16px;
}

.textInfo {
    width: 96px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}