body {
  font-family: 'Inter', sans-serif;
  color: #323f47;
  margin: 0;
  --color-main: #101828;
  background-color: var(--color-white);
}

body.no-scroll {
  overflow: hidden;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  padding: 0;
}

@media screen and (min-width: 1440) {
  .container {
    max-width: 1440px;
  }

  .header-container {
    max-width: 1440px;
  }

  /* .title-h2 {
    font-size: 64px;
    line-height: 64px;
  } */
}